# MongoDB Atlas Connection String
# Replace with your actual MongoDB Atlas connection string
MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/file-share-app?retryWrites=true&w=majority&appName=Cluster0

# Node Environment
NODE_ENV=production

